.promocao {
  background: #d5e5f2;
  padding: 30px 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.promocao span {
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  color: #1b65a6;
}

.promocao ion-icon {
  position: absolute;
  top: 25px;
  right: 80px;
  font-size: 1.75rem;
  cursor: pointer;
}

.menu {
  display: grid;
  grid-template-columns: 330px 1fr;
  align-items: center;
  padding: 30px 50px;
  box-shadow: 0px 4px 14px #00000024;
  color: #1b65a6;
  position: relative;
}

.menu span {
  font-size: 2rem;
}

.menu span span {
  font-weight: 800;
}

.menu ul {
  display: flex;
  gap: 30px;
}

.menu ul li a {
  color: #3c5061;
  font-size: 1.1rem;
  font-weight: 700;
  padding: 30px 0;
}

.menu ul li a:hover {
  color: #1b65a6;
}

.menu .cart {
  position: absolute;
  top: 35px;
  right: 100px;
  font-size: 2rem;
  cursor: pointer;
}

.menu .cart:hover {
  color: #77b3d9;
}
